body{
    background-color: black;
    color: white;
    text-align: center;
    font-family:Georgia, 'Times New Roman', Times, serif;
}
.p1{
    font-size:50px;
    margin:18px;
}
.layout {
	width: 600px;
	margin: auto;
    
}

.accordion {
	padding: 10px;
	margin-top: 10px;
	margin-bottom: 10px;
	background: rgb(0, 0, 0);
    width:100%;
    height:auto;
}

.accordion__question p {
	margin:auto;
    padding: 5px;
	font-family: Verdana;
	font-size: 19px;
    width:100%;
    height:auto;
}

.accordion__answer p {
	margin: auto;
	padding: 5px;
	font-family: Verdana, Geneva, Tahoma, sans-serif;
	color: rgb(255, 255, 255);
	background: rgb(9, 9, 9);
    font-size:15px;
    background-color: #2c2a2a;
    border-radius: 10px;
    width:100%;
    height:auto;
}

.accordion:hover {
	cursor: pointer;
}

.accordion__answer {
	display: none;
}

.accordion.active .accordion__answer {
	display: block;
}