*{
  box-sizing: border-box;
}
.partnership2{
  background-color: #000;
  color: #fff;
  overflow-x: hidden;
  
}
.thirdpart{
  display:flex;
  width:850px;
  margin-left: 25%;
  padding:10px;
  margin-top: 30px;
  background-color: #1d1a1a;
  border-radius: 20px;
  font-size:16px;
}
.thirdpart h3{
  text-shadow: #787676 2px 2px;
  text-align: center;
  font-size: xx-large;
}
.session{
  border: 2px solid rgb(28, 27, 27);
  border-radius: 10px;
  padding:10px;
  width:85%;
  background-color: rgb(34, 33, 33);
}
.session-container{
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 1rem;
  gap: 2rem;
}
.cont-title{
  font-size: 2.5rem;
  font-weight: 500;
  font-family:  sans-serif;

}
.session-text{
  color: rgba(206, 206, 206, .88);
  font-weight: 400;
  font-size: 1.5rem;
}
.session-title{
  color: white;
  font-weight: 400;
  font-size: 1.5rem;
}
.session-desc{
  text-align: justify;
}
.logos-cont{
  width: 35%;
}
.logos-cont img{
    max-width: 100%;
}
@media (max-width : 480px){
  .session{
    width: 95%;
  }
  .logos-cont{
    width: 90%;
  }
}