*{
    box-sizing: border-box;
}
 h1{
    text-align: center;   
}
.firstpart{
    background-color: rgb(218, 218, 218);
    height:90vh;
    color: #030303;
    text-align: center;
    font-size: x-large;
}
.firstpart button{
    font-size: 20px;
    border-radius: 5px;
    box-shadow: grey 2px 2px;
}
.firstpart button:hover{
    background-color: rgb(177, 175, 173);
    font-size:30px;
}
.img{
    float:right;
    width:600px;
    height:668px;
}
.img2{
    margin-top:10%;
    margin-left: 10%;
}
.secondpart{
    display:flex;
    margin-left: 22%;
}
.secondpart1{
    border: 2px solid rgb(44, 44, 44);
    background-color: rgb(37, 35, 35);
    box-shadow: rgb(47, 46, 46) 4px 4px;
    padding:10px;
    margin:10px;
    width:400px;
    
}
.p1{
    text-shadow: rgb(94, 93, 93) 2px 2px;
    text-align: center;
    
}
.thirdpart{
    display:flex;
    width:850px;
    margin-left: 25%;
    padding:10px;
    margin-top: 30px;
    background-color: #1d1a1a;
    border-radius: 20px;
    font-size:16px;
}
.thirdpart h3, .fourthpart h3{
    text-shadow: #787676 2px 2px;
    text-align: center;
    font-size: xx-large;
}
.fourthpart{
    display:flex;
    flex-direction: column;
    width:80%;
    margin-top: 20px;
    margin-left:10%;
}

.fourthpart1{
    padding:10px;
    border: 2px solid rgb(31, 30, 30);
    box-shadow: rgb(47, 46, 46) 4px 4px;
    background-color: rgb(26, 25, 25);
    border-radius: 20px;
    margin:10px;
}
.fourthpart1 p{
    width:700px;
    margin-left:18%;
}
i{
    border:2px solid rgb(34, 34, 34);
    border-radius:15px;
    background-color: rgb(53, 53, 53);
    padding:15px;
    margin-left: 0%;
    text-align: center;
}
@media only screen and (max-width:768px){
    .firstpart{
        width:100%;
        height:auto;
        padding:10px;
    }
    .secondpart{
        width:100%;
        margin-left:0px;
        display: flex;
        flex-direction: column;
    }
    .thirdpart{
        width:100%;
        margin-left:0px;
    }
    .fourthpart{
        width:100%;
        margin-left:0px;
    }
    .fourthpart p{
        margin-left:0px;
    }
    .img{
        float:none;
    }
    body{
        width:min-content;
        height:auto;
    }
}
@media only screen and (min-width:769px) and (max-width:1024px){
    body{
        width:min-content;
        height:auto;
    }
    .firstpart{
        width:100%;
        height:auto;
        padding:10px;
    }
    .secondpart{
        width:100%;
        margin-left:0px;
        
    }
    .thirdpart{
        width:100%;
        margin-left:0px;
    }
    .fourthpart{
        width:100%;
        margin-left:0px;
    }
    .fourthpart p{
        margin-left:0px;
    }
    .img{
        float:none;
    }
}